.container{
  /* height:500px; */
  position:relative;
}

.customer-div{
  display:none;
  
}

.display-customer-info{
  background-color:#ffffff63;
  width:40%;
  height:245px;
  position: absolute;
  left: 60%;
  bottom:55px;
  display:flex;
  flex-direction:column;
  align-items:center;
  display:block;
}

.customer-info{
  background-color:white;
  height:100%;
  display:flex;
  flex-direction: column;
}


#customer-title{
  display:flex;
  justify-content: space-between;
  align-items:center;
  padding-right:3px;
}

#close-btn{
  font-weight: 500;
  font-size: 1.2em;
  cursor:pointer;
  align-self: flex-start;
}

#close-btn:hover{
  font-weight: 900
}