.container{
  /* height:500px; */
  position:relative;
}

.customer-div{
  display:none;
  
}

.display-customer-info{
  background-color:#ffffff63;
  width:40%;
  height:245px;
  position: absolute;
  left: 60%;
  bottom:55px;
  display:flex;
  flex-direction:column;
  align-items:center;
  display:block;
}

.customer-info{
  background-color:white;
  height:100%;
}